watch_file "$(pwd)/flake.{lock,nix}"
watch_file "$(pwd)/devShell.nix"
watch_file "$(pwd)/scripts/k8s/local-k8s.sh"
watch_file "$(pwd)/scripts/*.sh"
watch_dir "$(pwd)/overlays"
watch_dir "$(pwd)/nixpkgs"
watch_dir "$(pwd)/lib"
use flake
